# Workflow tasks.
vmklib>=2.0.12
yambs>=3.1.6
ifgen>=4.9.0

# Documentation.
sphinx
sphinx-book-theme
breathe
git+https://github.com/renefritze/exhale.git@feat/cpp-concepts#egg=exhale
myst-parser

# Linting and QA.
yamllint
